<div class="middleDiv" fxLayout="row" fxFill fxLayoutGap="10px grid" fxLayoutAlign="space-around stretch" #middleDiv>
    <!-- <div fxHide.lt-md class="middleLeft"  fxLayout="column" fxFlex="25">

    </div> -->
    <div class="middleMid" fxLayout="column" fxFlex="80" style="flex-grow: 1">
        <br><br>
        <img src="assets/Fortinet_logo.svg.png" style="height: auto; width: 250px; margin: 0 auto;">
        <br><br>
        <h2>Ingrese sus credenciales</h2>
        <form [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="usernameControl" required>
            </mat-form-field>
            <div class="break"></div>
            <mat-form-field>
                <mat-label>Contrase&ntilde;a</mat-label>
                <input matInput type="password" formControlName="passwordControl" required>
            </mat-form-field>
            <div class="break"></div>
            <button mat-raised-button color="primary" (click)="login()">Iniciar Sesi&oacute;n</button>
            <div class="break"></div>
            <br>
            <h3 *ngIf="loginError" style="color: red;">Error al iniciar sesi&oacute;n</h3>
        </form>
    </div>
    <!-- <div fxHide.lt-md class="middleRight" fxLayout="column" fxFlex="25">

    </div> -->
</div>
