.parentDiv {
}

.topDiv {
    text-align: center;
}

.middleDiv {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottomDiv {
}

.middleLeft {
}

.middleMid {
    text-align: center;
}

.middleRight {
}