<div class="middleDiv" fxLayout="row" fxFill fxLayoutGap="10px grid" fxLayoutAlign="space-around center" #middleDiv>
    <div style="text-align: center; padding-left: 20px; padding-right: 20px;">
        <span class="material-icons" style="font-size: 64px;">done</span>
        <h1>Bienvenido {{nombres}} {{apellidos}}</h1>
        <br>
        <h3>Sera redigirido a la p&aacute;gina institucional en unos segundos...</h3>
        <h3>Si no se redigire haz <a href="http://www.cenosa.hn">click aqu&iacute;</a></h3>
    </div>
</div>