<ngx-spinner></ngx-spinner>
<div class="parentDiv" fxLayout="column" fxFill fxLayoutAlign="space-evenly-center" #parentDiv>
    <div class="topDiv" fxLayout="column" #topDiv>
        <mat-toolbar color="primary">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button> -->
            <img src="assets/logo-blanco.png" style="width: auto; height: 40px">
            &nbsp;
            &nbsp;
            <span>Portal Cautivo</span>
            <span fxShow fxHide.lt-sm>&nbsp;{{captivePortalTitle}}</span>
            <span class="example-spacer"></span>
            <span fxShow fxHide.lt-sm style="font-size:medium;">Mi IP : {{myip}}</span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>help_outline</mat-icon>
            </button>
            <button fxHide fxShow.lt-sm mat-icon-button aria-label="Mostrar IP" [matMenuTriggerFor]="menu">
                <mat-icon>info</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Mi IP : {{myip}}</button>
            </mat-menu>
          </mat-toolbar>
          <mat-toolbar fxHide fxShow.lt-sm color="primary">
            <span class="example-spacer"></span>
            <span>{{captivePortalTitle}}</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
    </div>
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
    <div class="bottomDiv" fxLayout="row" fxLayoutAlign #bottomDiv>
        <mat-toolbar color="primary">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
            </button> -->
            <span class="example-spacer"></span>
            <h2>Desarrollado por Grupo Kapa 7 &copy; {{currentYear}} &nbsp;</h2>
            <img fxHide.lt-sm src="assets/logo-kapa7.png" style="height: 50px; width: auto;">
            <span class="example-spacer"></span>
        </mat-toolbar>
    </div>
</div>